.sliderNowPlaying {
}
.nowPlaying-img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: 500px;

  box-shadow: 2px;

  padding-left: 5px;
}
