* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Hammersmith One', sans-serif;
}


/* list title */
.d-flex {
  align-items: center;
}
.d-flex h5 {
  margin:0 !important;
  padding-right: 16px;
}

